*::selection {
  background-color: var(--green);
  color: $primary--dark;
}

body {
  background-color: var(--primary);
  transition: background-color 0.15s ease-in-out;
}

h1,
.h1 {
  color: var(--secondary);
  transition: color 0.15s ease-in-out;
}

p {
  color: var(--text);
  transition: color 0.15s ease-in-out;
}

// Home social icons
.links a {
  color: var(--text);
  transition: color 0.15s ease-in-out;
}