@include desktop {
  body {
    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--primary);
    
    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: var(--primary);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
    }
  }
}