:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --green: #{$green};
  --text: #{$text};
  --context: #{$context};
  --decoration: #{$decoration};

  @include dark {
    --primary: #{$primary--dark};
    --secondary: #{$secondary--dark};
    --green: #{$green--dark};
    --text: #{$text--dark};
    --context: #{$context--dark};
    --decoration: #{$decoration--dark};
  }
}

.default {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --green: #{$green};
  --text: #{$text};
  --context: #{$context};
  --decoration: #{$decoration};
  --scrollbar-thumb: #{$scrollbar-thumb};
}

.dark-theme {
  --primary: #{$primary--dark};
  --secondary: #{$secondary--dark};
  --green: #{$green--dark};
  --text: #{$text--dark};
  --context: #{$context--dark};
  --decoration: #{$decoration--dark};
  --scrollbar-thumb: #{$scrollbar-thumb};
}