$white: #fff;
$gray: #353535;
$body: #424242;
$accent: #ff7043;

$primary: #FFFFFF;
$secondary: #000000;
$green: #47F10B;
$text: #474747;
$context: #C4C4C4;
$decoration: #F3F3F3;

$primary--dark: #171717;
$secondary--dark: #FFFFFF;
$green--dark: #47F10B;
$text--dark: #DEDEDE;
$context--dark: #353535;
$decoration--dark: #131313;

$xs: 768px;