* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
	height: 100%;
}

body {
	background-color: #2e3138;
	position: relative;
}

img {
	width: 150px;
	border-radius: 100%;
}

h1,
h2,
p,
a {
	color: #03a9f4;
}

h1 {
	font-size: 3.5em;
	font-weight: lighter;
}

h2 {
	font-weight: lighter;
	padding: 0 10px;
}

a {
	outline: none;
}

h1+p {
	font-size: 1.1em;
	margin-bottom: 40px;
}

h2+p {
	margin-top: 10px;
}

header {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul {
	list-style-type: none;
	margin-top: 10px;
}

ul li {
	display: inline-block;
	margin: 0 20px 20px;
}

ul li a {
	font-size: 3em;
	text-decoration: none;
}

svg,
span.link {
	color: #03a9f4;
	transition: color 0.2s ease;
}

svg:hover,
svg:hover+span.link {
	color: #d5ecff;
}

.footer {
	margin-top: 50px;
}

span.link {
	display: block;
	font-size: 10px;
	margin-top: -7px;
}
