.blog-post--link {
  margin-bottom: 24px;

  a {
    font-size: 1.2em;
    color: var(--secondary);
  }
}

.blog-post--date {
  display: block;
  color: var(--context);
  font-size: 0.8em;
}

.blog-posts {
  margin-top: 32px;

  @include phone {
    margin-top: 48px;
  }
}

.tags-articles {
  padding: 0;
  list-style: none;
  margin-top: 32px;

  @include phone {
    margin-top: 48px;
  }
}

.blog-post--link {
  position: relative;

  a {
    position: relative;
    transition: color 0.5s ease;

    &:hover {
      text-decoration: none;
      color: var(--green);

      &:after {
        transform: translateX(6px);
      }
    }

    &:after {
      content: "\2192";
      position: absolute;
      font-size: 2em;
      width: 40px;
      top: 25%;
      right: -45px;
      height: 0;
      line-height: 0;
      transition: transform 0.5s ease;
    }
  }
}
