.blog-post--link {
  margin-bottom: 24px;

  a {
    font-size: 1.2em;
    color: var(--secondary);
    transition: color 0.5s ease;
    
    &:hover {
      text-decoration: none;
      color: var(--green);

      span {
        transform: translateX(6px);
      }
    }

    span {
      font-size: 2em;
      height: 100%;
      line-height: 0.4;
      display: inline-flex;
      align-self: self-end;
      transition: transform 0.5s ease;
    }
  }
}

.blog-post--date {
  display: block;
  color: var(--context);
  font-size: 0.8em;
}

.blog-posts {
  margin-top: 32px;

  @include phone {
    margin-top: 48px;
  }
}

.tags-articles {
  padding: 0;
  list-style: none;
  margin-top: 32px;

  @include phone {
    margin-top: 48px;
  }
}
