.deco {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/green-bar.svg);
  position: absolute;
  width: 400px;
  height: 300px;

  &--1 {
    top: -140px;
    right: -140px;
    z-index: -3;

    @include phone {
      top: -160px;
      right: -250px;
    }
  }

  &--2 {
    top: 10px;
    right: -120px;
    z-index: -1;

    @include phone {
      top: -10px;
      right: -230px;
    }
  }
  
}

html, body {
  position: relative;
  overflow-x: hidden;
}